.coaches {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 120px;

  .coaches__wrap {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
  }

  .coaches__title {
    font-family: $title-font;
    font-size: 49px;
    letter-spacing: 2px;
    color: $main-color;
    margin-left: 38px;
  }

  .coaches__slider_block {
    max-width: 1160px;
    padding: 0;
    margin-top: 55px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .coaches__sliders {
    min-width: 2400px;
    display: flex;
    position: relative;
    right: 0;
    transition: right 0.5s;
  }

  .coaches__slider_control {
    width: 100%;
    height: 23px;
    position: absolute;
    left: 50%;
    top: 26.5%;
    transform: translateX(-50%);
  }

  .coaches__button_next,
  .coaches__button_back {
    @include hide-font;
    @include button-reset;
    @include opacity-link;
    position: absolute;
    top: 135px;
    width: 23px;
    height: 23px;
    border-top: 1px solid #afafaf;
    border-left: 1px solid #afafaf;
    cursor: pointer;

    &:focus {
      border-color: #d10a42;
    }
  }

  .coaches__button_back {
    left: 4px;
    transform: rotate(-45deg);
    margin-left: 2px;
  }

  .coaches__button_next {
    right: 4px;
    transform: rotate(135deg);
    margin-right: 2px;
  }

  .coaches__slider_item {
    flex-shrink: 0;
    margin: 0 40px 0 0;
    width: 260px;
    height: 294px;
    position: relative;
    cursor: pointer;
  }

  .coaches__slider_description {
    background: transparent;
    color: $auxiliary-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;

    &:hover {
      background: rgba(16, 38, 84, 0.89);

      h4 {
        margin-top: 56px;
      }

      span {
        display: block;
      }

      ul {
        display: block;
      }
    }

    h4 {
      font-family: $secondary-font-bold;
      font-size: 18px;
      margin-top: 249px;
    }

    span {
      display: none;
      font-family: $main-font;
      font-size: 16px;
      color: #b6bdcc;
      margin-top: 5px;
    }

    ul {
      display: none;
      text-align: left;
      margin-top: 37px;
      margin-left: 71px;
    }

    li {
      display: inline-block;
      vertical-align: auto;
      font-family: $main-font;
      font-size: 14px;
      width: 159px;
      margin-bottom: 13px;
      line-height: 150%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: $auxiliary-color;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        top: 7px;
        left: -16px;
      }
    }
  }

  @media (max-width: $desktop-width) {
    padding-top: 37px;
    padding-bottom: 100px;

    .coaches__wrap {
      max-width: 688px;
      padding: 0;
    }

    .coaches__title {
      font-size: 42px;
      text-align: center;
      margin: 0;
    }

    .coaches__slider_control {
      width: 100%;
      top: 22.5%;
    }

    .coaches__slider_block {
      width: 567px;
      margin-left: auto;
      margin-right: auto;
      height: 294px;
      margin-top: 43px;
      padding: 0;
    }

    .coaches__sliders {
      min-width: 2384px;
      right: 596px;
    }

    .coaches__button_back {
      left: 9px;
      z-index: 100;
    }

    .coaches__button_next {
      right: 9px;
      z-index: 100;
    }

    .coaches__slider_item {
      width: 268px;
      height: 294px;
      margin: 0 30px 0 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: $table-width) {
    padding-top: 8px;
    padding-bottom: 51px;

    .coaches__wrap {
      max-width: 320px;
    }

    .coaches__title {
      font-size: 32px;
      letter-spacing: 1.5px;
    }

    .coaches__slider_control {
      top: 19.5%;
    }

    .coaches__button_next,
    .coaches__button_back {
      width: 14px;
      height: 14px;
    }

    .coaches__button_next {
      right: 17px;
    }

    .coaches__button_back {
      left: 17px;
    }

    .coaches__slider_block {
      width: 226px;
    }

    .coaches__sliders {
      min-width: 1968px;
      right: 493px;
    }

    .coaches__slider_item {
      margin: 0 20px 0 0;
      width: 226px;
      height: 274px;
    }
  }
}
