.description {
  width: 100%;
  padding-bottom: 51px;
  background-image: url("../img/bg/description/description_gradient_bg_desc.png");
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/description/description_gradient_bg_desc@2x.png");
  }

  //Header
  .description__wrap_block_header {
    max-width: 1366px;
    margin: 0 auto -31px;
    display: flex;
    justify-content: space-between;
    padding: 20px 103px 28px;
    overflow: hidden;

    a {
      font-family: $title-font;
      font-size: 26px;
      line-height: 26px;
      letter-spacing: 1px;
      color: $auxiliary-color;
      margin-top: 8px;
    }
  }

  .description__header_phone {
    display: flex;
    flex-direction: column;
    margin-top: 4px;

    a {
      margin-top: 4px;

      &:hover,
      &:focus {
        opacity: 0.7;
        outline: none;
      }
    }
  }
  // *******************************************************************

  .description__wrap_block_description {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 103px;
    padding-right: 103px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    overflow: hidden;
  }

  .description__text {
    width: 297px;
    color: $auxiliary-color;
    padding-top: 111px;
    margin: 0 5px 0 99px;
  }

  .description__text p {
    font-family: $title-font;
    font-size: 49px;
    line-height: 59px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 2px;
  }

  .description__text h1 {
    font-size: 111px;
    line-height: 109px;
    width: 298px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: $title-font;
    margin: 2px 0 0 0;
  }

  .description__block_text_description {
    width: 129px;
    font-family: $main-font;
    font-size: 14px;
    line-height: 150%;
    margin: -85px 0 0 -96px;
  }

  .description__text a {
    @include opacity-link;
    font-family: $secondary-font-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    min-height: 61px;
    padding: 19px 53px;
    border: 4px solid $auxiliary-color;
    margin: 84px 0 0 64px;
  }

  .description__img {
    margin: 0 147px 0 20px;
    min-width: 480px;
    min-height: 533px;
    align-self: flex-end;
  }

  .description__social {
    font-family: $main-font;
    color: $auxiliary-color;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 23px 0;
  }

  .description__social a {
    @include opacity-link;
    margin-bottom: 19px;
  }

  @media (max-width: $desktop-width) {
    min-height: 554px;

    //Header
    .description__wrap_block_header {
      min-width: 768px;
      max-width: 860px;
      padding: 30px 45px 38px;
      margin-bottom: -18px;

      a {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.6px;
      }
    }

    .description__header_logo {
      width: 82px;
      height: 17px;
    }
    // *******************************************************************

    .description__wrap_block_description {
      min-width: 768px;
      max-width: 860px;
      padding-left: 45px;
      padding-right: 45px;
    }

    .description__text {
      width: 326px;
      margin: 0;
      padding-top: 50px;
    }

    .description__text p {
      font-size: 34px;
      line-height: 41px;
    }

    .description__text h1 {
      font-size: 86px;
      line-height: 86px;
      margin: -2px 0 0 25px;
    }

    .description__block_text_description {
      margin: -75px 0 0 -16px;
    }

    .description__text a {
      width: 187px;
      min-height: 57px;
      padding: 19.5px 5px;
      margin: 57px 0 0 139px;
    }

    .description__img {
      min-width: 324px;
      min-height: 390px;
      margin: 0;
      align-self: start;

      img {
        width: 324px;
        height: 390px;
      }
    }

    .description__social {
      display: none;
    }
  }

  @media (max-width: $table-width) {
    min-height: 491px;

    //Header
    .description__wrap_block_header {
      min-width: 320px;
      max-width: 480px;
      padding: 10px 15px 18px;

      a {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .description__header_logo {
      width: 68px;
      height: 15px;
    }
    // *******************************************************************

    .description__wrap_block_description {
      min-width: 320px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    .description__text {
      max-width: 290px;
      height: 384px;
      margin: 0 auto;
      padding-top: 71px;
    }

    .description__text p {
      font-size: 28px;
      line-height: 34px;
      margin: 0;
    }

    .description__text h1 {
      font-size: 78px;
      line-height: 78px;
      margin: 4px 0 0 -9px;
    }

    .description__block_text_description {
      margin: -70px 0 0 -16px;
    }

    .description__text a {
      width: 100%;
      padding: 20.5px 5px;
      margin: 54px auto 0 auto;
    }

    .description__img {
      display: none;
    }
  }
}
