.promo {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 60px;
  color: $auxiliary-color;

  .promo__wrap {
    width: 1160px;
    margin: 0 auto;
    display: flex;

  }

  .promo__block_text {
    width: 43.1%;
    background-color: #ed0233;
    display: flex;
    flex-wrap: wrap;
    padding-top: 81px;
    padding-bottom: 85px;
  }

  .promo__schedule {
    margin-left: 61px;
    font-family: $main-font;
  }

  .promo__title {
    h3 {
      width: 190px;
      font-family: $title-font;
      font-size: 90px;
      letter-spacing: 3.4px;
      margin-left: 78px;
    }
  }

  .promo__date_title {
    h4 {
      width: 64px;
      font-size: 18px;
      line-height: 27px;
      border-bottom: 1px solid $auxiliary-color;
      padding-bottom: 4px;
    }
  }


  .promo__date_text {
    margin-top: 5px;
    display: flex;

    span:first-of-type {
      font-family: $secondary-font-bold;
      font-size: 40px;
      line-height: 39px;
    }

    span:last-of-type {
      margin-left: 7px;
      width: 25px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .promo__time {
    margin-top: 19px;

  }

  .promo__time_title {
    h4 {
      width: 88px;
      font-size: 18px;
      line-height: 27px;
      border-bottom: 1px solid $auxiliary-color;
      padding-bottom: 4px;
    }
  }

  .promo__time_text {
    span {
      font-family: $secondary-font-bold;
      font-size: 40px;
      line-height: 49px;
    }
  }

  .promo__description {
    margin-top: 11px;
    margin-left: 79px;

    span {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .promo__link {
    margin-top: 45px;
    margin-left: 77px;
    a {
      @include opacity-link;
      display: block;
      width: 346px;
      border: 4px solid $auxiliary-color;
      padding: 24.5px 111px;
      font-family: $secondary-font-bold;
      text-transform: uppercase;
      align-items: center;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
    }
  }

  @media (max-width: $desktop-width) {
    padding-top: 100px;

    .promo__wrap {
      width: 678px;
    }

    .promo__block_text {
      padding-top: 47px;
      padding-bottom: 50px;
    }

    .promo__schedule {
      margin-left: 27px;
    }

    .promo__title {
      h3 {
        width: 119px;
        font-size: 52px;
        line-height: 52px;
        letter-spacing: 2px;
        margin-left: 45px;
      }
    }

    .promo__date_title {
      h4 {
        width: 42px;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 1px;
      }
    }


    .promo__date_text {
      span:first-of-type {
        font-size: 24px;
        line-height: 19px;

      }

      span:last-of-type {
        font-size: 10px;
        margin-left: 4px;
        line-height: 10px;
      }
    }

    .promo__time {
      margin-top: 5px;
    }

    .promo__time_title {
      h4 {
        width: 56px;
        font-size: 12px;
        line-height: 22px;
        padding-bottom: 0px;
      }
    }

    .promo__time_text {
      span {
        font-size: 24px;
        line-height: 28px;
      }
    }

    .promo__description {
      margin-top: 2px;
      margin-left: 45px;

      span {
        font-size: 12px;
        line-height: 18;
        line-height: 0;

      }
    }

    .promo__link {
      margin-top: 32px;
      margin-left: 45px;
      a {
        width: 202px;
        padding: 11.5px 50px;
        border: 2px solid $auxiliary-color;
        font-size: 10px;
      }
    }

    .promo__block_img {
      img {
        width: 386px;
        height: 292px;
      }
    }
  }

  @media (max-width: $table-width) {
    padding-top: 70px;

    .promo__wrap {
      width: 290px;
      flex-direction: column;
    }

    .promo__block_text {
      width: 100%;
    }

    .promo__block_img {
      img {
        width: 290px;
        height: 292px;
      }
    }

  }
}
