.subscription {
  color: $main-color;
  padding-top: 116px;
  padding-bottom: 100px;
  text-align: center;
  background-color: rgba(248, 249, 252, 1);
  position: relative;

  &::before {
    content: "";
    width: 250px;
    height: 330px;
    position: absolute;
    bottom: -71px;
    right: 0;
    background-image: url("../img/bg/subscription/subscription_bg_desc.png");
    background-position: 100% 51.99%;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg/subscription/subscription_bg_desc@2x.png");
      background-size: 115%;
    }
  }

  .subscription__wrap {
    margin: 0 auto;
    overflow: hidden;
  }

  .subscription__title {
    h2 {
      font-family: $title-font;
      font-size: 49px;
      letter-spacing: 1.9px;
    }
  }

  .subscription__tabs_control {
    margin: 38px auto 0 auto;
    font-family: $main-font;
    font-size: 20px;
    line-height: 150%;
    color: rgba(16, 38, 84, 0.5);
    position: relative;

    &::before {
      content: "";
      width: 341px;
      height: 2px;
      background-color: rgba(120, 120, 120, 0.2);
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
    }

    span {
      margin: 0 21px;
      padding-bottom: 14px;
      cursor: pointer;
    }
  }

  .subscription__tab_control {
    outline: none;

    &--active {
      color: $main-color;
      border-bottom: 2px solid #d10a42;
    }

    &:hover,
    &:focus {
      color: #d10a42;
    }

    &:active {
      color: rgba(16, 38, 84, 0.5);
    }
  }

  .subscription__tabs {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 51px;

    &--active {
      display: flex;
    }
  }

  .subscription__tab {
    width: 360px;
    min-height: 448px;
    margin: 0 20px 20px 20px;
    padding: 5px;
    position: relative;
    background-color: $auxiliary-color;
    cursor: pointer;
    transition: border 0.5s;

    &:hover {
      border: 7px solid transparent;
      border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
      border-image-slice: 1;

      h3 {
        margin-top: 45px;
      }

      span:last-of-type {
        bottom: 154px;
      }
    }

    h3 {
      font-family: $secondary-font-bold;
      font-size: 26px;
      line-height: 40px;
      margin-top: 52px;
    }

    p {
      font-family: $main-font;
      color: #495a7d;
      margin-top: 10px;
    }

    span {
      display: block;
      width: 167px;
      text-align: left;
      margin: 68px auto 0;
      font-family: $secondary-font-bold;
      font-size: 60px;
      line-height: 150%;
      z-index: 2;
      position: relative;
    }

    span:last-of-type {
      font-size: 100px;
      line-height: 150%;
      color: #e8e8e8;
      opacity: 0.48;
      margin: 0;
      position: absolute;
      bottom: 162px;
      left: 50%;
      transform: translateX(-62%);
      z-index: 1;
    }
  }

  .subscription__tab_link {
    display: block;
    font-family: $secondary-font-bold;
    width: 208px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #102654;
    padding: 24px 0;

    &:hover,
    &:focus {
      border: none;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      color: $auxiliary-color;
    }
  }

  @media (max-width: $desktop-width) {
    padding-top: 97px;
    padding-bottom: 62px;

    &::before {
      width: 345px;
      bottom: -55px;
      background-image: url("../img/bg/subscription/subscription_bg_tablet.png");
      background-size: 100%;
      background-position: 100% 38.1%;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/subscription/subscription_bg_tablet@2x.png");
      }
    }

    .subscription__wrap {
      padding-left: 81px;
      padding-right: 81px;
    }

    .subscription__title {
      h2 {
        font-size: 42px;
        letter-spacing: 2px;
      }
    }

    .subscription__tabs_control {
      margin-top: 29px;

      &::before {
        width: 333px;
        bottom: -12px;
      }

      span {
        font-size: 18px;
        margin: 0 25px;
      }
    }

    .subscription__tabs {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 57px;
    }

    .subscription__tab {
      width: 442px;
      min-height: 448px;
      margin-bottom: 39px;

      span:last-of-type {
        bottom: 162px;
      }
    }

    .subscription__tab_link {
      margin-top: 34px;
    }
  }

  @media (max-width: $table-width) {
    width: 100%;
    padding-top: 67px;
    padding-bottom: 37px;

    &::before {
      display: none;
    }

    .subscription__wrap {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }

    .subscription__title {
      h2 {
        font-size: 32px;
        letter-spacing: 1px;
      }
    }

    .subscription__tabs_control {
      width: 100%;
      max-width: 320px;
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      padding: 0 8px;

      &::before {
        width: 290px;
        bottom: 0;
      }

      span {
        font-size: 16px;
        line-height: 150%;
        margin: 0 7.5px;
        padding-bottom: 12px;
      }
    }

    .subscription__tabs {
      flex-direction: column;
      width: 100%;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
    }

    .subscription__tab {
      width: 290px;
      min-height: 384px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 34px;

      &:hover {
        h3 {
          margin-top: 31px;
        }

        span {
          margin-left: 68px;
          margin-right: 68px;
        }

        span:last-of-type {
          transform: translateX(-89%);
          bottom: 139px;
        }
      }

      h3 {
        font-size: 22px;
        margin-top: 37px;
      }

      p {
        margin-top: 6px;
      }

      span {
        font-size: 48px;
        margin-top: 57px;
        margin-left: 75px;
        margin-right: 75px;
      }

      span:last-of-type {
        font-size: 80px;
        bottom: 146px;
        transform: translateX(-49%);
      }

      .subscription__tab_link {
        margin-top: 31px;
      }

      svg {
        width: 24px;
        height: 33px;
      }
    }
  }
}
