$desktop-width: 1199px;
$table-width: 767px;

$auxiliary-color: #ffffff;
$main-color: #102654;

$main-font: "Roboto Condensed", "Arial", sans-serif;
// $title-font: "Roboto Condensed", "Aria", sans-serif;
// $title-bold-font: "Roboto Condensed Bold", "Aria", sans-serif;
// $secondary-font: "Roboto", "Aria", sans-serif;



